.watch-page {
  background: black;
  min-height: 100vh;
  padding: 20px;
  color: white;
}

.back-btn {
  background: #e50914;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.watch-title {
  margin-bottom: 20px;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

video {
  width: 80%;
  max-height: 80vh;
  border-radius: 10px;
}